<div class="task-card" [class.expanded]="expanded || isEditing">
    <div class="task-header">
        <div class="task-info">
            <input type="checkbox" [checked]="task.completed" (click)="toggleTaskCompletion($event)" class="checkbox" />
            <div class="task-details">
                <h3 class="task-title" [class.completed]="task.completed" *ngIf="!isEditing; else editTitle">
                    {{ task.title }}
                </h3>
                <ng-template #editTitle>
                    <input [(ngModel)]="editableTask.title" type="text" />
                </ng-template>
                <span class="timestamp">{{ task.createdAt | date: 'short' }}</span>
            </div>
        </div>

        <div class="task-actions">
            <span class="tag" [style.backgroundColor]="getTagColor(task.tag)">
                {{ task.tag }}
            </span>

            <button class="edit-btn" (click)="startEditing($event)">
                <i class="fas fa-edit"></i>
            </button>

            <button class="delete-btn" (click)="requestTaskDeletion($event)">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>

    <div *ngIf="expanded || isEditing" class="task-body">
        <p class="task-description" *ngIf="!isEditing; else editDescription">
            {{ task.description }}
        </p>
        <ng-template #editDescription>
            <textarea [(ngModel)]="editableTask.description"></textarea>
        </ng-template>

        <div *ngIf="isEditing" class="edit-tags">
            <label for="tags">Tag:</label>
            <input [(ngModel)]="editableTask.tag" id="tags" type="text" />
        </div>

        <div *ngIf="isEditing" class="action-buttons">
            <button class="cancel-btn" (click)="cancelEditing()">Cancel</button>
            <button class="save-btn" (click)="saveTask()">Save</button>
        </div>
    </div>
</div>